<div class="col-md-6" ></div>
<div class="col-md-6 left-bar" >
	<div class="content">
		<div class=" wow fadeInUp delay-03s">
		  <div class="row">
			<div class="logo text-center">
				<img src="assets/img/Telkomsel_2013.png" alt="logo" >
				<h2>TSEL-GENESIS GALILEO</h2>
				<h4  id="responseMessage">{{responseMessage}}</h4>
				<h4 ng-model="test1" id="test1">Integrated Digital Guestbook</h4>
				<p>Recommended Browser Google Chrome</p>
				<p>Please Download QR reader for ios and Barcode Scanner for andorid first before scanning the barcode</p>
			</div>
			<div id="countdown">
				<div class="day qr_code" ng-model="qr_code" id="qr_codes"></div>
			</div>
		  </div>
		</div>
		<section>
			<div class="row bort text-center">
				<div class="social">
					© IT Jabar and GA Jabotabek Jabar
				</div>
			</div>
		</section>
	</div>
</div>